# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/artifacts

# production
/build
/chainlink/cache

# misc
.DS_Store

# solidity
/src/Solidity/cache
/src/Solidity/artifacts

# Immutable X
/src/Solidity/scripts/imx-examples

# constants
/chainlink/constants.json
/chainlink/identity_constants.json
/chainlink/oracle_constants.json